/*
       _____                                  _             _  _    _              _   
      / ____|                                | |           | || |  | |            | |  
     | |      ___   _ __   _ __    ___   ___ | |_  ___   __| || |__| |  ___   ___ | |_ 
     | |     / _ \ | '_ \ | '_ \  / _ \ / __|| __|/ _ \ / _` ||  __  | / _ \ / __|| __|
     | |____| (_) || | | || | | ||  __/| (__ | |_|  __/| (_| || |  | || (_) |\__ \| |_ 
      \_____|\___/ |_| |_||_| |_| \___| \___| \__|\___| \__,_||_|  |_| \___/ |___/ \__|
                                                                                       
                        Site made with <3 by Robert S.   -   https://robert-s.dev
*/

html, body {
    background-color: #2664C8;
    overflow-x: hidden;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

/* Buttons */

.blue-text.btn-light {
  color: #2664C8;
}

.blue-text.btn-light:hover {
  color: #182471;
}

/* Background colours */

.bg-dark-blue {
  background-color: #182471;
}

/* Sections */

section.pricing {
  margin-top: 20vh;
  margin-bottom: 10vh;
}

/* Text */

a {
  text-decoration: none;
  color: #2664C8;
}

/* Scrollbar */

html, body {
    scrollbar-color: #2664c8 #182471;
    scrollbar-width: thin;
  }
::-webkit-scrollbar {
    width: 5px;
    height: 15px;
  }
::-webkit-scrollbar-track-piece {
    background-color:  #182471;
  }
::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #2664c8;
}